{% extends 'base.html.twig' %}

{% block title %}Todo index{% endblock %}

{% block body %}
<a href="/logout" class="btn btn-secondary">Log out</a>
<a href="/admin/users/" class="btn btn-secondary">Manage users</a>
    <h1>Todo index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Category</th>
                <th>Description</th>
                <th>Priority</th>
                <th>Due date</th>
                {# <th>Create_date</th> #}
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for todo in todos %}
            <tr>
                <td>{{ todo.id }}</td>
                <td>{{ todo.name }}</td>
                <td>{{ todo.category }}</td>
                <td>{{ todo.description }}</td>
                <td>{{ todo.priority }}</td>
                <td>{{ todo.dueDate ? todo.dueDate|date('Y-m-d H:i:s') : '' }}</td>
                {# <td>{{ todo.createDate ? todo.createDate|date('Y-m-d H:i:s') : '' }}</td> #}
                <td>
                    <a href="{{ path('app_todo_show', {'id': todo.id}) }}" class="btn btn-success m-1">Show</a>
                    <a href="{{ path('app_todo_edit', {'id': todo.id}) }}" class="btn btn-warning m-1">Edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8" class="text-center">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {# <a href="{{ path('app_todo_new') }}">Create new</a> #}
{% endblock %}
